In [8]:
import pandas as pd

In [9]:
df=pd.read_csv("NHL.csv")

In [10]:
df

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,WILL,THEO,CHI,PIT,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/2023,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/2023,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
5,5/10/2023,WILL,MARK,COL,CBJ,9,0,2.0,0.0,4.0,0.0,3.0,0.0,NaN,NaN,20.0,12.0,0.0
6,5/10/2023,THEO,MARK,EDM,TBL,2,4,1.0,0.0,0.0,1.0,1.0,3.0,NaN,NaN,15.0,12.0,0.0
7,5/10/2023,WILL,THEO,EDM,VGK,4,5,2.0,0.0,1.0,4.0,1.0,1.0,NaN,NaN,12.0,14.0,0.0
8,5/10/2023,THEO,WILL,BUF,CAR,4,2,2.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,14.0,0.0
9,5/10/2023,MARK,THEO,TOR,WPG,4,7,2.0,2.0,1.0,2.0,1.0,3.0,NaN,NaN,11.0,16.0,0.0
10,5/10/2023,THEO,WILL,CGY,BUF,5,2,2.0,0.0,1.0,1.0,2.0,1.0,NaN,NaN,19.0,9.0,1.0
11,5/10/2023,MARK,THEO,WSH,EDM,4,3,1.0,0.0,1.0,0.0,1.0,3.0,1.0,0.0,10.0,15.0,0.0
12,5/10/2023,THEO,WILL,BOS,TOR,0,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,6.0,18.0,0.0
13,5/10/2023,MARK,THEO,VGK,EDM,4,5,1.0,1.0,0.0,3.0,3.0,1.0,NaN,NaN,13.0,11.0,0.0
14,5/11/2023,THEO,MARK,VGK,PIT,3,2,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,19.0,7.0,0.0
15,5/11/2023,MARK,THEO,NYI,COL,1,4,0.0,1.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,0.0
16,5/11/2023,WILL,THEO,ARI,PIT,3,10,1.0,2.0,1.0,5.0,1.0,3.0,NaN,NaN,11.0,18.0,1.0
17,5/11/2023,WILL,THEO,NYR,TOR,2,3,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,15.0,16.0,0.0
18,5/12/2023,WILL,MARK,NJD,NJD,2,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,19.0,10.0,0.0
19,5/12/2023,MARK,THEO,PIT,PIT,0,3,0.0,1.0,0.0,2.0,0.0,0.0,NaN,NaN,12.0,13.0,0.0
20,5/12/2023,MARK,THEO,TOR,PIT,1,6,0.0,2.0,1.0,2.0,0.0,2.0,NaN,NaN,8.0,18.0,0.0
21,5/12/2023,MARK,THEO,EDM,COL,6,5,3.0,1.0,0.0,2.0,3.0,2.0,NaN,NaN,16.0,19.0,0.0
22,5/12/2023,MARK,WILL,TOR,CGY,5,6,2.0,2.0,0.0,2.0,3.0,2.0,NaN,NaN,19.0,13.0,1.0
23,5/12/2023,MARK,WILL,COL,BOS,4,1,2.0,0.0,0.0,0.0,2.0,1.0,NaN,NaN,22.0,14.0,0.0
24,5/12/2023,MARK,THEO,LAK,TOR,1,2,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,12.0,15.0,0.0
25,5/12/2023,MARK,THEO,DAL,SEA,3,7,1.0,4.0,2.0,2.0,0.0,1.0,NaN,NaN,14.0,20.0,0.0
26,5/12/2023,THEO,MARK,BOS,CGY,5,3,1.0,0.0,3.0,0.0,1.0,2.0,NaN,NaN,21.0,9.0,0.0
27,5/15/2023,THEO,MARK,STL,PIT,6,3,1.0,2.0,0.0,1.0,5.0,0.0,NaN,NaN,12.0,16.0,0.0
28,5/15/2023,THEO,MARK,WPG,CGY,2,1,0.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,15.0,7.0,0.0
29,5/15/2023,WILL,MARK,WPG,CAR,2,5,1.0,0.0,1.0,5.0,0.0,0.0,NaN,NaN,15.0,17.0,1.0
30,5/15/2023,THEO,MARK,NYR,MIN,4,0,0.0,0.0,1.0,0.0,3.0,0.0,NaN,NaN,11.0,5.0,0.0
31,5/15/2023,THEO,WILL,TBL,SJS,6,0,3.0,0.0,2.0,0.0,1.0,0.0,NaN,NaN,19.0,8.0,0.0
32,5/15/2023,MARK,THEO,NYR,TOR,2,6,1.0,1.0,1.0,3.0,0.0,2.0,NaN,NaN,7.0,12.0,1.0
33,5/15/2023,THEO,WILL,CAR,WSH,1,2,0.0,2.0,1.0,0.0,0.0,0.0,NaN,NaN,9.0,8.0,0.0
34,5/15/2023,THEO,WILL,NSH,BOS,3,2,3.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,14.0,14.0,0.0
35,5/16/2023,WILL,MARK,COL,WSH,3,2,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,22.0,14.0,0.0
36,5/16/2023,WILL,THEO,EDM,VGK,3,4,1.0,0.0,1.0,2.0,1.0,2.0,NaN,NaN,14.0,11.0,0.0
37,5/16/2023,MARK,THEO,NJD,NSH,4,7,1.0,3.0,1.0,3.0,2.0,1.0,NaN,NaN,25.0,18.0,1.0
38,5/16/2023,THEO,WILL,NYI,MIN,3,1,1.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,13.0,9.0,0.0

# Winning %

## Will

In [4]:
df_will_wins = df.loc[(df.HOME == 'WILL') & (df['HOME SCORE'] > df['AWAY SCORE'])]
df_will_wins_2 = df.loc[(df.AWAY == 'WILL') & (df['AWAY SCORE'] > df['HOME SCORE'])]
df_will_wins_res = pd.concat([df_will_wins, df_will_wins_2])
df_will_wins_res

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/23,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
5,5/10/23,WILL,MARK,COL,CBJ,9,0,2.0,0.0,4.0,0.0,3.0,0.0,NaN,NaN,20.0,12.0,0.0
18,5/12/23,WILL,MARK,NJD,NJD,2,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,19.0,10.0,0.0
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/23,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5/10/23,THEO,WILL,BOS,TOR,0,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,6.0,18.0,0.0
22,5/12/23,MARK,WILL,TOR,CGY,5,6,2.0,2.0,0.0,2.0,3.0,2.0,NaN,NaN,19.0,13.0,1.0

In [11]:
def games_played(name):
    return df.loc[(df.HOME==name)|(df.AWAY==name)]

In [12]:
games_played('THEO')

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
1,NaN,WILL,THEO,CHI,PIT,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/2023,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
6,5/10/2023,THEO,MARK,EDM,TBL,2,4,1.0,0.0,0.0,1.0,1.0,3.0,NaN,NaN,15.0,12.0,0.0
7,5/10/2023,WILL,THEO,EDM,VGK,4,5,2.0,0.0,1.0,4.0,1.0,1.0,NaN,NaN,12.0,14.0,0.0
8,5/10/2023,THEO,WILL,BUF,CAR,4,2,2.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,14.0,0.0
9,5/10/2023,MARK,THEO,TOR,WPG,4,7,2.0,2.0,1.0,2.0,1.0,3.0,NaN,NaN,11.0,16.0,0.0
10,5/10/2023,THEO,WILL,CGY,BUF,5,2,2.0,0.0,1.0,1.0,2.0,1.0,NaN,NaN,19.0,9.0,1.0
11,5/10/2023,MARK,THEO,WSH,EDM,4,3,1.0,0.0,1.0,0.0,1.0,3.0,1.0,0.0,10.0,15.0,0.0
12,5/10/2023,THEO,WILL,BOS,TOR,0,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,6.0,18.0,0.0
13,5/10/2023,MARK,THEO,VGK,EDM,4,5,1.0,1.0,0.0,3.0,3.0,1.0,NaN,NaN,13.0,11.0,0.0
14,5/11/2023,THEO,MARK,VGK,PIT,3,2,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,19.0,7.0,0.0
15,5/11/2023,MARK,THEO,NYI,COL,1,4,0.0,1.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,0.0
16,5/11/2023,WILL,THEO,ARI,PIT,3,10,1.0,2.0,1.0,5.0,1.0,3.0,NaN,NaN,11.0,18.0,1.0
17,5/11/2023,WILL,THEO,NYR,TOR,2,3,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,15.0,16.0,0.0
19,5/12/2023,MARK,THEO,PIT,PIT,0,3,0.0,1.0,0.0,2.0,0.0,0.0,NaN,NaN,12.0,13.0,0.0
20,5/12/2023,MARK,THEO,TOR,PIT,1,6,0.0,2.0,1.0,2.0,0.0,2.0,NaN,NaN,8.0,18.0,0.0
21,5/12/2023,MARK,THEO,EDM,COL,6,5,3.0,1.0,0.0,2.0,3.0,2.0,NaN,NaN,16.0,19.0,0.0
24,5/12/2023,MARK,THEO,LAK,TOR,1,2,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,12.0,15.0,0.0
25,5/12/2023,MARK,THEO,DAL,SEA,3,7,1.0,4.0,2.0,2.0,0.0,1.0,NaN,NaN,14.0,20.0,0.0
26,5/12/2023,THEO,MARK,BOS,CGY,5,3,1.0,0.0,3.0,0.0,1.0,2.0,NaN,NaN,21.0,9.0,0.0
27,5/15/2023,THEO,MARK,STL,PIT,6,3,1.0,2.0,0.0,1.0,5.0,0.0,NaN,NaN,12.0,16.0,0.0
28,5/15/2023,THEO,MARK,WPG,CGY,2,1,0.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,15.0,7.0,0.0
30,5/15/2023,THEO,MARK,NYR,MIN,4,0,0.0,0.0,1.0,0.0,3.0,0.0,NaN,NaN,11.0,5.0,0.0
31,5/15/2023,THEO,WILL,TBL,SJS,6,0,3.0,0.0,2.0,0.0,1.0,0.0,NaN,NaN,19.0,8.0,0.0
32,5/15/2023,MARK,THEO,NYR,TOR,2,6,1.0,1.0,1.0,3.0,0.0,2.0,NaN,NaN,7.0,12.0,1.0
33,5/15/2023,THEO,WILL,CAR,WSH,1,2,0.0,2.0,1.0,0.0,0.0,0.0,NaN,NaN,9.0,8.0,0.0
34,5/15/2023,THEO,WILL,NSH,BOS,3,2,3.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,14.0,14.0,0.0
36,5/16/2023,WILL,THEO,EDM,VGK,3,4,1.0,0.0,1.0,2.0,1.0,2.0,NaN,NaN,14.0,11.0,0.0
37,5/16/2023,MARK,THEO,NJD,NSH,4,7,1.0,3.0,1.0,3.0,2.0,1.0,NaN,NaN,25.0,18.0,1.0
38,5/16/2023,THEO,WILL,NYI,MIN,3,1,1.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,13.0,9.0,0.0

In [13]:
def wins(name):
    df_name_wins = df.loc[(df.HOME == name) & (df['HOME SCORE'] > df['AWAY SCORE'])]
    df_name_wins_2 = df.loc[(df.AWAY == name) & (df['AWAY SCORE'] > df['HOME SCORE'])]
    df_name_wins_res = pd.concat([df_name_wins, df_name_wins_2])
    return df_name_wins_res

In [14]:
wins('WILL')

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/2023,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
5,5/10/2023,WILL,MARK,COL,CBJ,9,0,2.0,0.0,4.0,0.0,3.0,0.0,NaN,NaN,20.0,12.0,0.0
18,5/12/2023,WILL,MARK,NJD,NJD,2,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,19.0,10.0,0.0
35,5/16/2023,WILL,MARK,COL,WSH,3,2,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,22.0,14.0,0.0
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/2023,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5/10/2023,THEO,WILL,BOS,TOR,0,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,6.0,18.0,0.0
22,5/12/2023,MARK,WILL,TOR,CGY,5,6,2.0,2.0,0.0,2.0,3.0,2.0,NaN,NaN,19.0,13.0,1.0
33,5/15/2023,THEO,WILL,CAR,WSH,1,2,0.0,2.0,1.0,0.0,0.0,0.0,NaN,NaN,9.0,8.0,0.0

In [15]:
def losses(name):
    df_name_losses = df.loc[(df.HOME == name) & (df['HOME SCORE'] < df['AWAY SCORE'])]
    df_name_losses_2 = df.loc[(df.AWAY == name) & (df['AWAY SCORE'] < df['HOME SCORE'])]
    df_name_losses_res = pd.concat([df_name_losses, df_name_losses_2])
    return df_name_losses_res

In [8]:
losses('MARK')

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/23,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5/10/23,MARK,THEO,TOR,WPG,4,7,2.0,2.0,1.0,2.0,1.0,3.0,NaN,NaN,11.0,16.0,0.0
13,5/10/23,MARK,THEO,VGK,EDM,4,5,1.0,1.0,0.0,3.0,3.0,1.0,NaN,NaN,13.0,11.0,0.0
15,5/11/23,MARK,THEO,NYI,COL,1,4,0.0,1.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,0.0
19,5/12/23,MARK,THEO,PIT,PIT,0,3,0.0,1.0,0.0,2.0,0.0,0.0,NaN,NaN,12.0,13.0,0.0
20,5/12/23,MARK,THEO,TOR,PIT,1,6,0.0,2.0,1.0,2.0,0.0,2.0,NaN,NaN,8.0,18.0,0.0
22,5/12/23,MARK,WILL,TOR,CGY,5,6,2.0,2.0,0.0,2.0,3.0,2.0,NaN,NaN,19.0,13.0,1.0
25,5/12/23,MARK,THEO,DAL,SEA,3,7,1.0,4.0,2.0,2.0,0.0,1.0,NaN,NaN,14.0,20.0,0.0
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5/10/23,WILL,MARK,COL,CBJ,9,0,2.0,0.0,4.0,0.0,3.0,0.0,NaN,NaN,20.0,12.0,0.0
14,5/11/23,THEO,MARK,VGK,PIT,3,2,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,19.0,7.0,0.0
18,5/12/23,WILL,MARK,NJD,NJD,2,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,19.0,10.0,0.0

In [22]:
def winning_pct(name):
    return wins(name).shape[0]/(wins(name).shape[0]+losses(name).shape[0])

In [24]:
print(winning_pct('THEO'))
print(winning_pct('WILL'))
print(winning_pct('MARK'))

0.8
0.45454545454545453
0.19230769230769232

In [15]:
goals_in_wins=[]
df_wins=df[(df.HOME == 'WILL') & (df['HOME SCORE'] > df['AWAY SCORE'])]
for i in df_wins.iterrows():
    goals_in_wins.append(df_wins['HOME SCORE'])

[2     3
 4     2
 5     9
 18    2
 Name: HOME SCORE, dtype: int64,
 2     3
 4     2
 5     9
 18    2
 Name: HOME SCORE, dtype: int64,
 2     3
 4     2
 5     9
 18    2
 Name: HOME SCORE, dtype: int64,
 2     3
 4     2
 5     9
 18    2
 Name: HOME SCORE, dtype: int64]