In [11]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("NHL.csv")

In [3]:
df

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,WILL,THEO,CHI,PIT,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/2023,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/2023,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,5/30/2023,THEO,MARK,TBL,TOR,4,5,0.0,1.0,3.0,1.0,1.0,3.0,NaN,NaN,21.0,11.0,0.0
85,5/31/2023,MARK,WILL,NYI,VGK,7,1,1.0,1.0,2.0,0.0,4.0,0.0,NaN,NaN,16.0,9.0,0.0
86,5/31/2023,WILL,MARK,TBL,STL,3,4,2.0,0.0,0.0,1.0,1.0,3.0,NaN,NaN,14.0,10.0,0.0
87,5/31/2023,MARK,WILL,PIT,VGK,0,3,0.0,1.0,0.0,1.0,0.0,1.0,NaN,NaN,18.0,9.0,0.0
88,6/1/2023,THEO,WILL,MIN,COL,3,1,0.0,1.0,1.0,0.0,2.0,0.0,NaN,NaN,8.0,10.0,0.0

In [43]:
teamslist= []

hometeams = df['HOME TEAM'].unique().tolist()
awayteams = df['AWAY TEAM'].unique().tolist()

In [44]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

In [59]:
teamslist = intersection(hometeams,awayteams)
sorted(teamslist)

TypeError: '<' not supported between instances of 'float' and 'str'

In [51]:
sorted(teamslist)

TypeError: '<' not supported between instances of 'float' and 'str'

In [25]:
df

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,WILL,THEO,CHI,PIT,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/2023,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/2023,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,5/30/2023,THEO,MARK,TBL,TOR,4,5,0.0,1.0,3.0,1.0,1.0,3.0,NaN,NaN,21.0,11.0,0.0
85,5/31/2023,MARK,WILL,NYI,VGK,7,1,1.0,1.0,2.0,0.0,4.0,0.0,NaN,NaN,16.0,9.0,0.0
86,5/31/2023,WILL,MARK,TBL,STL,3,4,2.0,0.0,0.0,1.0,1.0,3.0,NaN,NaN,14.0,10.0,0.0
87,5/31/2023,MARK,WILL,PIT,VGK,0,3,0.0,1.0,0.0,1.0,0.0,1.0,NaN,NaN,18.0,9.0,0.0
88,6/1/2023,THEO,WILL,MIN,COL,3,1,0.0,1.0,1.0,0.0,2.0,0.0,NaN,NaN,8.0,10.0,0.0

In [12]:
df_will

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
1,NaN,WILL,THEO,CHI,PIT,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/2023,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5/10/2023,WILL,MARK,COL,CBJ,9,0,2.0,0.0,4.0,0.0,3.0,0.0,NaN,NaN,20.0,12.0,0.0
12,5/10/2023,THEO,WILL,BOS,TOR,0,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,6.0,18.0,0.0
16,5/11/2023,WILL,THEO,ARI,PIT,3,10,1.0,2.0,1.0,5.0,1.0,3.0,NaN,NaN,11.0,18.0,1.0
23,5/12/2023,MARK,WILL,COL,BOS,4,1,2.0,0.0,0.0,0.0,2.0,1.0,NaN,NaN,22.0,14.0,0.0
35,5/16/2023,WILL,MARK,COL,WSH,3,2,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,22.0,14.0,0.0
36,5/16/2023,WILL,THEO,EDM,VGK,3,4,1.0,0.0,1.0,2.0,1.0,2.0,NaN,NaN,14.0,11.0,0.0
38,5/16/2023,THEO,WILL,NYI,MIN,3,1,1.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,13.0,9.0,0.0
40,5/16/2023,THEO,WILL,VAN,TBL,4,3,0.0,1.0,2.0,2.0,2.0,0.0,NaN,NaN,10.0,16.0,0.0
42,5/17/2023,THEO,WILL,WPG,TBL,4,3,2.0,3.0,0.0,0.0,1.0,0.0,1.0,0.0,24.0,11.0,0.0
48,5/17/2023,WILL,MARK,TOR,WSH,3,4,2.0,2.0,0.0,1.0,1.0,1.0,NaN,NaN,14.0,15.0,0.0
49,5/17/2023,MARK,WILL,CAR,CAR,2,5,0.0,2.0,0.0,2.0,2.0,1.0,NaN,NaN,10.0,19.0,1.0
72,5/22/2023,MARK,WILL,VGK,DAL,2,3,0.0,0.0,1.0,3.0,1.0,0.0,NaN,NaN,9.0,15.0,0.0
85,5/31/2023,MARK,WILL,NYI,VGK,7,1,1.0,1.0,2.0,0.0,4.0,0.0,NaN,NaN,16.0,9.0,0.0
86,5/31/2023,WILL,MARK,TBL,STL,3,4,2.0,0.0,0.0,1.0,1.0,3.0,NaN,NaN,14.0,10.0,0.0
87,5/31/2023,MARK,WILL,PIT,VGK,0,3,0.0,1.0,0.0,1.0,0.0,1.0,NaN,NaN,18.0,9.0,0.0
88,6/1/2023,THEO,WILL,MIN,COL,3,1,0.0,1.0,1.0,0.0,2.0,0.0,NaN,NaN,8.0,10.0,0.0

In [15]:
df_will_home = df.loc[df.HOME == 'WILL']
df_will_away = df.loc[df.AWAY == 'WILL']

In [23]:
def shtpct(df, name):
    df_home = df.loc[df.HOME == name]
    df_away = df.loc[df.AWAY == name]
    total_goals = df_away['AWAY SCORE'].sum() + df_home['HOME SCORE'].sum()
    total_shots = df_away['AWAY SHOTS'].sum() + df_home['HOME SHOTS'].sum()
    return total_goals/total_shots

In [24]:
print(shtpct(df, 'THEO'))
print(shtpct(df, 'WILL'))
print(shtpct(df, 'MARK'))

0.2767940354147251
0.22105263157894736
0.23705722070844687

In [26]:
def shtpctallowed(df, name):
    df_home = df.loc[df.HOME == name]
    df_away = df.loc[df.AWAY == name]
    total_goals = df_away['HOME SCORE'].sum() + df_home['AWAY SCORE'].sum()
    total_shots = df_away['HOME SHOTS'].sum() + df_home['AWAY SHOTS'].sum()
    return total_goals/total_shots

In [27]:
print(shtpctallowed(df, 'THEO'))
print(shtpctallowed(df, 'WILL'))
print(shtpctallowed(df, 'MARK'))

0.22164948453608246
0.25793650793650796
0.27345309381237526

## Will

In [4]:
df_will_wins = df.loc[(df.HOME == 'WILL') & (df['HOME SCORE'] > df['AWAY SCORE'])]
df_will_wins_2 = df.loc[(df.AWAY == 'WILL') & (df['AWAY SCORE'] > df['HOME SCORE'])]
df_will_wins_res = pd.concat([df_will_wins, df_will_wins_2])
df_will_wins_res

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/2023,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
5,5/10/2023,WILL,MARK,COL,CBJ,9,0,2.0,0.0,4.0,0.0,3.0,0.0,NaN,NaN,20.0,12.0,0.0
18,5/12/2023,WILL,MARK,NJD,NJD,2,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,19.0,10.0,0.0
35,5/16/2023,WILL,MARK,COL,WSH,3,2,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,22.0,14.0,0.0
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/2023,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5/10/2023,THEO,WILL,BOS,TOR,0,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,6.0,18.0,0.0
22,5/12/2023,MARK,WILL,TOR,CGY,5,6,2.0,2.0,0.0,2.0,3.0,2.0,NaN,NaN,19.0,13.0,1.0
33,5/15/2023,THEO,WILL,CAR,WSH,1,2,0.0,2.0,1.0,0.0,0.0,0.0,NaN,NaN,9.0,8.0,0.0

In [65]:
def games_played(name):
    return df.loc[(df.HOME==name)|(df.AWAY==name)]

In [6]:
games_played('THEO')

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
1,NaN,WILL,THEO,CHI,PIT,1,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/2023,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
6,5/10/2023,THEO,MARK,EDM,TBL,2,4,1.0,0.0,0.0,1.0,1.0,3.0,NaN,NaN,15.0,12.0,0.0
7,5/10/2023,WILL,THEO,EDM,VGK,4,5,2.0,0.0,1.0,4.0,1.0,1.0,NaN,NaN,12.0,14.0,0.0
8,5/10/2023,THEO,WILL,BUF,CAR,4,2,2.0,1.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,14.0,0.0
9,5/10/2023,MARK,THEO,TOR,WPG,4,7,2.0,2.0,1.0,2.0,1.0,3.0,NaN,NaN,11.0,16.0,0.0
10,5/10/2023,THEO,WILL,CGY,BUF,5,2,2.0,0.0,1.0,1.0,2.0,1.0,NaN,NaN,19.0,9.0,1.0
11,5/10/2023,MARK,THEO,WSH,EDM,4,3,1.0,0.0,1.0,0.0,1.0,3.0,1.0,0.0,10.0,15.0,0.0
12,5/10/2023,THEO,WILL,BOS,TOR,0,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,6.0,18.0,0.0
13,5/10/2023,MARK,THEO,VGK,EDM,4,5,1.0,1.0,0.0,3.0,3.0,1.0,NaN,NaN,13.0,11.0,0.0
14,5/11/2023,THEO,MARK,VGK,PIT,3,2,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,19.0,7.0,0.0
15,5/11/2023,MARK,THEO,NYI,COL,1,4,0.0,1.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,0.0
16,5/11/2023,WILL,THEO,ARI,PIT,3,10,1.0,2.0,1.0,5.0,1.0,3.0,NaN,NaN,11.0,18.0,1.0
17,5/11/2023,WILL,THEO,NYR,TOR,2,3,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,15.0,16.0,0.0
19,5/12/2023,MARK,THEO,PIT,PIT,0,3,0.0,1.0,0.0,2.0,0.0,0.0,NaN,NaN,12.0,13.0,0.0
20,5/12/2023,MARK,THEO,TOR,PIT,1,6,0.0,2.0,1.0,2.0,0.0,2.0,NaN,NaN,8.0,18.0,0.0
21,5/12/2023,MARK,THEO,EDM,COL,6,5,3.0,1.0,0.0,2.0,3.0,2.0,NaN,NaN,16.0,19.0,0.0
24,5/12/2023,MARK,THEO,LAK,TOR,1,2,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,12.0,15.0,0.0
25,5/12/2023,MARK,THEO,DAL,SEA,3,7,1.0,4.0,2.0,2.0,0.0,1.0,NaN,NaN,14.0,20.0,0.0
26,5/12/2023,THEO,MARK,BOS,CGY,5,3,1.0,0.0,3.0,0.0,1.0,2.0,NaN,NaN,21.0,9.0,0.0
27,5/15/2023,THEO,MARK,STL,PIT,6,3,1.0,2.0,0.0,1.0,5.0,0.0,NaN,NaN,12.0,16.0,0.0
28,5/15/2023,THEO,MARK,WPG,CGY,2,1,0.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,15.0,7.0,0.0
30,5/15/2023,THEO,MARK,NYR,MIN,4,0,0.0,0.0,1.0,0.0,3.0,0.0,NaN,NaN,11.0,5.0,0.0
31,5/15/2023,THEO,WILL,TBL,SJS,6,0,3.0,0.0,2.0,0.0,1.0,0.0,NaN,NaN,19.0,8.0,0.0
32,5/15/2023,MARK,THEO,NYR,TOR,2,6,1.0,1.0,1.0,3.0,0.0,2.0,NaN,NaN,7.0,12.0,1.0
33,5/15/2023,THEO,WILL,CAR,WSH,1,2,0.0,2.0,1.0,0.0,0.0,0.0,NaN,NaN,9.0,8.0,0.0
34,5/15/2023,THEO,WILL,NSH,BOS,3,2,3.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,14.0,14.0,0.0
36,5/16/2023,WILL,THEO,EDM,VGK,3,4,1.0,0.0,1.0,2.0,1.0,2.0,NaN,NaN,14.0,11.0,0.0
37,5/16/2023,MARK,THEO,NJD,NSH,4,7,1.0,3.0,1.0,3.0,2.0,1.0,NaN,NaN,25.0,18.0,1.0
38,5/16/2023,THEO,WILL,NYI,MIN,3,1,1.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,13.0,9.0,0.0

In [62]:
def wins(name):
    df_name_wins = df.loc[(df.HOME == name) & (df['HOME SCORE'] > df['AWAY SCORE'])]
    df_name_wins_2 = df.loc[(df.AWAY == name) & (df['AWAY SCORE'] > df['HOME SCORE'])]
    df_name_wins_res = pd.concat([df_name_wins, df_name_wins_2])
    return df_name_wins_res

In [8]:
wins('WILL')

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5/9/2023,WILL,THEO,NYI,WSH,2,1,0.0,0.0,1.0,0.0,1.0,1.0,NaN,NaN,13.0,18.0,0.0
5,5/10/2023,WILL,MARK,COL,CBJ,9,0,2.0,0.0,4.0,0.0,3.0,0.0,NaN,NaN,20.0,12.0,0.0
18,5/12/2023,WILL,MARK,NJD,NJD,2,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,19.0,10.0,0.0
35,5/16/2023,WILL,MARK,COL,WSH,3,2,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,22.0,14.0,0.0
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/2023,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,5/10/2023,THEO,WILL,BOS,TOR,0,1,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,6.0,18.0,0.0
22,5/12/2023,MARK,WILL,TOR,CGY,5,6,2.0,2.0,0.0,2.0,3.0,2.0,NaN,NaN,19.0,13.0,1.0
33,5/15/2023,THEO,WILL,CAR,WSH,1,2,0.0,2.0,1.0,0.0,0.0,0.0,NaN,NaN,9.0,8.0,0.0

In [9]:
def losses(name):
    df_name_losses = df.loc[(df.HOME == name) & (df['HOME SCORE'] < df['AWAY SCORE'])]
    df_name_losses_2 = df.loc[(df.AWAY == name) & (df['AWAY SCORE'] < df['HOME SCORE'])]
    df_name_losses_res = pd.concat([df_name_losses, df_name_losses_2])
    return df_name_losses_res

In [10]:
losses('MARK')

,DATE,HOME,AWAY,HOME TEAM,AWAY TEAM,HOME SCORE,AWAY SCORE,HOME 1,AWAY 1,HOME 2,AWAY 2,HOME 3,AWAY 3,HOME OT,AWAY OT,HOME SHOTS,AWAY SHOTS,5-2 SESH?
0,NaN,MARK,WILL,TOR,TOR,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5/9/2023,MARK,WILL,NJD,NSH,4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,5/10/2023,MARK,THEO,TOR,WPG,4,7,2.0,2.0,1.0,2.0,1.0,3.0,NaN,NaN,11.0,16.0,0.0
13,5/10/2023,MARK,THEO,VGK,EDM,4,5,1.0,1.0,0.0,3.0,3.0,1.0,NaN,NaN,13.0,11.0,0.0
15,5/11/2023,MARK,THEO,NYI,COL,1,4,0.0,1.0,0.0,0.0,1.0,3.0,NaN,NaN,NaN,NaN,0.0
19,5/12/2023,MARK,THEO,PIT,PIT,0,3,0.0,1.0,0.0,2.0,0.0,0.0,NaN,NaN,12.0,13.0,0.0
20,5/12/2023,MARK,THEO,TOR,PIT,1,6,0.0,2.0,1.0,2.0,0.0,2.0,NaN,NaN,8.0,18.0,0.0
22,5/12/2023,MARK,WILL,TOR,CGY,5,6,2.0,2.0,0.0,2.0,3.0,2.0,NaN,NaN,19.0,13.0,1.0
24,5/12/2023,MARK,THEO,LAK,TOR,1,2,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,12.0,15.0,0.0
25,5/12/2023,MARK,THEO,DAL,SEA,3,7,1.0,4.0,2.0,2.0,0.0,1.0,NaN,NaN,14.0,20.0,0.0
32,5/15/2023,MARK,THEO,NYR,TOR,2,6,1.0,1.0,1.0,3.0,0.0,2.0,NaN,NaN,7.0,12.0,1.0
37,5/16/2023,MARK,THEO,NJD,NSH,4,7,1.0,3.0,1.0,3.0,2.0,1.0,NaN,NaN,25.0,18.0,1.0
2,NaN,WILL,MARK,TBL,CHI,3,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,5/10/2023,WILL,MARK,COL,CBJ,9,0,2.0,0.0,4.0,0.0,3.0,0.0,NaN,NaN,20.0,12.0,0.0
14,5/11/2023,THEO,MARK,VGK,PIT,3,2,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,19.0,7.0,0.0
18,5/12/2023,WILL,MARK,NJD,NJD,2,1,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,19.0,10.0,0.0
26,5/12/2023,THEO,MARK,BOS,CGY,5,3,1.0,0.0,3.0,0.0,1.0,2.0,NaN,NaN,21.0,9.0,0.0
27,5/15/2023,THEO,MARK,STL,PIT,6,3,1.0,2.0,0.0,1.0,5.0,0.0,NaN,NaN,12.0,16.0,0.0
28,5/15/2023,THEO,MARK,WPG,CGY,2,1,0.0,0.0,1.0,1.0,1.0,0.0,NaN,NaN,15.0,7.0,0.0
30,5/15/2023,THEO,MARK,NYR,MIN,4,0,0.0,0.0,1.0,0.0,3.0,0.0,NaN,NaN,11.0,5.0,0.0
35,5/16/2023,WILL,MARK,COL,WSH,3,2,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,22.0,14.0,0.0

In [63]:
def winning_pct(name):
    return wins(name).shape[0]/games_played(name).shape[0]

In [66]:
print(winning_pct('THEO'))
print(winning_pct('WILL'))
print(winning_pct('MARK'))

0.6901408450704225
0.4358974358974359
0.3382352941176471

In [20]:
def avg_goals_scored(name):
  return games_played(name).apply(lambda x: x['HOME SCORE'] if x['HOME']==name else x['AWAY SCORE'],axis=1).values.mean()

def avg_goals_allowed(name):
  return games_played(name).apply(lambda x: x['HOME SCORE'] if x['AWAY']==name else x['HOME SCORE'],axis=1).values.mean()

In [21]:
print(avg_goals_scored('THEO'))
print(avg_goals_scored('WILL'))
print(avg_goals_scored('MARK'))
print()
print(avg_goals_allowed('THEO'))
print(avg_goals_allowed('WILL'))
print(avg_goals_allowed('MARK'))

4.233333333333333
2.6363636363636362
2.5

2.966666666666667
3.1363636363636362
3.230769230769231

In [13]:
goals_in_wins=[]
df_wins=df[(df.HOME == 'WILL') & (df['HOME SCORE'] > df['AWAY SCORE'])]
for i in df_wins.iterrows():
    goals_in_wins.append(df_wins['HOME SCORE'])

In [29]:

def teams_winning_pct(df, team):
    wins1=df[(df['HOME TEAM'] == team) & (df['HOME SCORE'] > df['AWAY SCORE'])]
    wins2=df[(df['AWAY TEAM'] == team) & (df['HOME SCORE'] < df['AWAY SCORE'])]
    losses1=df[(df['HOME TEAM'] == team) & (df['HOME SCORE'] < df['AWAY SCORE'])]
    losses2=df[(df['AWAY TEAM'] == team) & (df['HOME SCORE'] > df['AWAY SCORE'])]
    win_pct = (wins1.shape[0]+ wins2.shape[0])/ (wins1.shape[0]+ wins2.shape[0] + losses1.shape[0]+ losses2.shape[0])*100
    return print(f'The winning percentage of {team} is {win_pct:.2f}%')

In [56]:
for i in teamslist:
    print(teams_winning_pct(df, i))

The winning percentage of TOR is 60.00%
None
The winning percentage of CHI is 33.33%
None
The winning percentage of TBL is 45.45%
None
The winning percentage of NJD is 42.86%
None
The winning percentage of NYI is 83.33%
None
The winning percentage of COL is 58.33%
None
The winning percentage of EDM is 40.00%
None
The winning percentage of BUF is 33.33%
None
The winning percentage of CGY is 50.00%
None
The winning percentage of WSH is 66.67%
None
The winning percentage of BOS is 28.57%
None
The winning percentage of VGK is 60.00%
None
The winning percentage of NYR is 50.00%
None
The winning percentage of PIT is 45.45%
None
The winning percentage of LAK is 0.00%
None
The winning percentage of DAL is 57.14%
None
The winning percentage of STL is 87.50%
None
The winning percentage of WPG is 75.00%
None
The winning percentage of CAR is 44.44%
None
The winning percentage of NSH is 75.00%
None

ZeroDivisionError: division by zero

In [34]:
wins1=df[(df['HOME TEAM'] == 'VGK') & (df['HOME SCORE'] > df['AWAY SCORE'])]
wins2=df[(df['AWAY TEAM'] == 'VGK') & (df['HOME SCORE'] < df['AWAY SCORE'])]
losses1=df[(df['HOME TEAM'] == 'VGK') & (df['HOME SCORE'] < df['AWAY SCORE'])]
losses2=df[(df['AWAY TEAM'] == 'VGK') & (df['HOME SCORE'] > df['AWAY SCORE'])]

In [39]:
losses1.shape[0]

1